.parent {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("../Assets/homewall.jpg");
  /* position: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
}
.subscription-container {
  margin: 50px auto 50px auto;
  width: 70%;
  height: fit-content;
  background-color: antiquewhite;
  border-radius: 5px;
  position: relative;
}
.subscription-body{
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #ff5349;
}
.subscription-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.subscription-plans {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.subscription-btn{
    height: 50px;
    width: 200px;
    border: 0px none transparent;
    cursor: pointer;
    outline: none;
    margin: 20px auto;
    background-color: #ff5349;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.plan-header{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    border-bottom: 0px none transparent;
    background-color: #ff5349;
    color: #fff;
    margin-bottom: 20px;
}
.plan-label{
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.plan-col{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
.plan-selected,.plan-row:hover{
    color: #fff;
    background-color: #ff5349;
    font-weight: 600;
}
.plan-row{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    border: 2px solid #ff5349;
    border-bottom: 0px none transparent;
}
.plan-row:nth-child(5){
    border-bottom: 2px solid #ff5349;
}
.subscription-cycle {
  height: 60px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.cycle-button {
  display: flex;
  width: 45%;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  border: 1px solid #ff5349;
}
.selected::after {
  border: 0 solid transparent;
  border-top-color: #ff5349;
  content: "";
  display: block;
  position: relative;
  margin-bottom: -55px;
  margin-left: -44px;
  border-width: 15px 15px 0;
}
.cycle-button:hover {
  background-color: #ff5349;
  color: #fff;
  font-weight: 600;
}
.selected {
  background-color: #ff5349;
  color: #fff;
  font-weight: 600;
}
